/* src/styles/global.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f1f8d9;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(203, 220, 104, 0.7);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(203, 220, 104, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(203, 220, 104, 0);
  }
}
